{% load humanize %}
<div class="w-80 shadow-lg rounded-lg overflow-hidden bg-white flex flex-col transition-all hover:shadow-2xl">
    <!-- تصویر محصول -->
    <div class="relative">
        <img src="{{ product.image.url }}" alt="{{ product.name }}"
             class="w-full h-80 object-cover transition-transform duration-300 ">
        {% if product.discount_percentage > 0 %}
            <span class="absolute top-2 left-2 bg-red-500 text-white text-xs font-bold px-2 py-1 rounded-md">
                {{ product.discount_percentage }}% تخفیف
            </span>
        {% endif %}
    </div>

    <!-- اطلاعات محصول -->
    <div class="p-4 flex flex-col gap-2">
        <!-- دسته‌بندی -->


        <!-- نام محصول -->
        <h2 class="text-lg font-semibold text-gray-900 truncate">{{ product.name }}</h2>

        <!-- قیمت -->
        {% if product.discount_percentage > 0 %}
            <div class="flex items-center gap-2">
                <p class="text-gray-400 text-sm line-through">{{ product.price|intcomma }} تومان</p>
                <p class="text-red-500 text-lg font-bold">{{ product.real_price|intcomma }} تومان</p>
            </div>
        {% else %}
            <p class="text-gray-800 text-lg font-bold">{{ product.price|intcomma }} تومان</p>
        {% endif %}

        <!-- میزان مشاهده و فروش -->
        <div class="flex  items-center justify-between text-gray-500 text-xs">
            <a href="{% url 'category' product.category.slug %}" class="flex flex-row gap-1 text-sm text-gray-500">
                <i class="fa-solid fa-layer-group"></i>
                 {{ product.category.name }}</a>
            <p class="flex flex-row gap-1">
                <i class="fa-solid fa-eye"></i>
                {{ product.count_view }} بازدید</p>
        </div>

        <!-- دکمه‌ها -->
        <div class="flex gap-2 mt-3">
            <a href="{% url 'product_detail' product.slug %}"
               class="bg-blue-600 text-white text-center p-2 rounded-md w-3/4 flex justify-center items-center transition-all hover:bg-blue-700 active:scale-95">
                مشاهده
            </a>
            <form class="w-1/4" action="{% url 'order:basket' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="variant_id" value="{{ product.id }}">
                <input type="hidden" name="quantity" value="1">
                <button class="bg-green-500 text-white text-xl text-center p-4 rounded-md w-full flex justify-center items-center transition-all hover:bg-green-600 active:scale-95">
                <i class="fa-solid fa-cart-plus"></i>
            </button>
            </form>
        </div>
    </div>
</div>
