{% extends 'base.html' %}
{% block content %}

<!-- نمایش پیام‌ها -->
{% if messages %}
    <div class="container mx-auto px-4 py-4">
        {% for message in messages %}
            <div class="p-4 rounded-md {% if message.tags == 'success' %}bg-green-100 text-green-800 border border-green-200{% else %}bg-red-100 text-red-800 border border-red-200{% endif %} mb-4">
                <i class="fas {% if message.tags == 'success' %}fa-check-circle{% else %}fa-exclamation-circle{% endif %} mr-2"></i>
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if sliders %}
    {% include 'components/slider.html' with sliders=sliders %}
{% endif %}

{% if categories %}
    {% include 'components/categories_bar.html' with categories=categories %}
{% endif %}

{% comment %} collections {% endcomment %}
<div class="container mx-auto mt-10">


    {% comment %} offers {% endcomment %}
    {% if offers %}
    <div class="bg-gradient-to-r from-red-400 to-red-700 p-4 pb-6 rounded-md shadow-lg my-10">
        <h2 class="text-3xl font-bold text-white text-start mb-5"><i class="fa-solid fa-fire"></i> تخفیف‌های ویژه</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
            {% for product in offers %}
                {% include 'product/product_cart.html' %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% comment %} best sellers {% endcomment %}
    {% if best_sellers %}
    <div class="bg-gradient-to-r from-blue-400 to-blue-700 p-4 pb-6 rounded-md shadow-lg my-10">
        <h2 class="text-3xl font-bold text-white text-start mb-5"><i class="fa-solid fa-basket-shopping"></i> پر فروش ها</h2>
        <div class="w-full flex gap-10 flex-wrap justify-center">
            {% for product in best_sellers %}
                {% include 'product/product_cart.html' %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% comment %} new products {% endcomment %}
    {% if new_products %}
    <div class="bg-gradient-to-r from-green-400 to-green-700 p-4 pb-6 rounded-md shadow-lg my-10">
        <h2 class="text-3xl font-bold text-white text-start mb-5"><i class="fa-solid fa-bell"></i> جدیدترین ها</h2>
        <div class="w-full flex gap-10 flex-wrap justify-center">
            {% for product in new_products %}
                {% include 'product/product_cart.html' %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% comment %} best viewed {% endcomment %}
    {% if best_viewed %}
    <div class="bg-gradient-to-r from-yellow-400 to-yellow-700 p-4 pb-6 rounded-md shadow-lg my-10">
        <h2 class="text-3xl font-bold text-white text-start mb-5"><i class="fa-solid fa-eye"></i> بیشترین بازدید</h2>
        <div class="w-full flex gap-10 flex-wrap justify-center">
            {% for product in best_viewed %}
                {% include 'product/product_cart.html' %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% comment %} random products {% endcomment %}
    {% if random_products %}
    <div class="bg-gradient-to-r from-purple-400 to-purple-700 p-4 pb-6 rounded-md shadow-lg my-10">
        <h2 class="text-3xl font-bold text-white text-start mb-5"><i class="fa-solid fa-shuffle"></i> محصولات تصادفی</h2>
        <div class="w-full flex gap-10 flex-wrap justify-center">
            {% for product in random_products %}
                {% include 'product/product_cart.html' %}
            {% endfor %}
        </div>
    </div>
    {% endif %}


    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebSite",
          "name": "{{ site_settings.title }}",
          "url": "{{ request.build_absolute_uri }}",
          "potentialAction": {
            "@type": "SearchAction",
            "target": "{{ request.scheme }}://{{ request.get_host }}/search/?q={search_term_string}",
            "query-input": "required name=search_term_string"
          }
        }
        </script>
        
        <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "name": "{{ site_settings.title }}",
          "url": "{{ request.scheme }}://{{ request.get_host }}",
          "logo": "{{ site_settings.logo.url }}",
          "sameAs": [
            {% if site_settings.instagram %}"{{ site_settings.instagram }}"{% if site_settings.telegram %},{% endif %}{% endif %}
            {% if site_settings.telegram %}"{{ site_settings.telegram }}"{% endif %}
          ]
        }
        </script>
        
        
        


    
</div>
{% endblock %}
