name: Deploy eCommerce

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          script: |
            set -e

            cd /var/www/echr/

            if [ ! -d "sepidshop/.git" ]; then
              git clone https://github.com/moeendehqan/e_commerce_django.git sepidshop
            fi

            cd sepidshop
            git pull origin main

            # فقط اگر .env تغییر کرده باشد بازنویسی می‌شود
            cat << EOF > .env
POSTGRES_DB=${{ secrets.POSTGRES_DB }}
POSTGRES_USER=${{ secrets.POSTGRES_USER }}
POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
POSTGRES_HOST=${{ secrets.POSTGRES_HOST }}
POSTGRES_PORT=${{ secrets.POSTGRES_PORT }}
DEBUG=${{ secrets.DEBUG }}
CSRF_TRUSTED_ORIGINS=${{ secrets.CSRF_TRUSTED_ORIGINS }}
EOF

            docker compose down
            docker compose up -d --build

            docker ps
